.forms {
    border: solid black;
    max-height: 95%;
    padding: 5px;
}

.form {
    padding-bottom: 7px;
    border-bottom: solid 1px black;
    margin-bottom: 18px;
}


input {
    border-radius: 5px;
    border: 0.5px solid;
    margin-left: 5px;
}